modules = ["python-3.11", "nodejs-20", "postgresql-16"]
[agent]
expertMode = true
integrations = ["python_openai_ai_integrations:1.0.0", "spotify:1.0.0", "google-calendar:1.0.0", "google-mail:1.0.0", "discord:1.0.0", "javascript_openai_ai_integrations:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "iana-etc", "libiconv", "libxcrypt", "libyaml", "openssl", "pkg-config", "rustc", "unzip", "xcodebuild", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dashboard"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "stream-bot"

[[workflows.workflow]]
name = "dashboard"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd services/dashboard && python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "stream-bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd services/stream-bot && APP_URL=\"https://${REPLIT_DEV_DOMAIN}\" TWITCH_SIGNIN_CALLBACK_URL=\"https://${REPLIT_DEV_DOMAIN}/api/auth/twitch/callback\" YOUTUBE_SIGNIN_CALLBACK_URL=\"https://${REPLIT_DEV_DOMAIN}/api/auth/youtube/callback\" KICK_SIGNIN_CALLBACK_URL=\"https://${REPLIT_DEV_DOMAIN}/api/auth/kick/callback\" PORT=3000 npm run dev"
waitForPort = 3000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3001

[[ports]]
localPort = 36179
externalPort = 3003

[[ports]]
localPort = 40971
externalPort = 3002

[[ports]]
localPort = 41081
externalPort = 5000

[[ports]]
localPort = 41711
externalPort = 4200

[[ports]]
localPort = 46877
externalPort = 3000
